/*VARIABLES*/
$font-menu: 'Montserrat', sans-serif;


/*GLOBAL*/
*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  
}

/*NAVBAR*/

.navbar {
  display: inline-flex;
}

.nav-brand {
  padding: 30px 20px;
  color: yellow;
}

.navbar ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
  
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li {
  margin-right: 50px;
  font-family: $font-menu;
}

header {
  background: url(/images/splash.png);
  height: 100vh;
  background-repeat: no-repeat;
	background-size: cover;
  position: relative;
  
}

header h1 {
  font-family: droid-serif,serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  color: white;
  
  
}

header h2 {
  
  font-family: $font-menu;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  color: white;
}


.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}